asgiref
bcrypt
blinker
Brlapi
chardet
cryptography
cupshelpers
dbus-python
defer
distlib
distro
Django
djangorestframework
djangorestframework-simplejwt
duplicity
fasteners
filelock
future
idna
language-selector
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
platformdirs
protobuf
pycairo
pycups
PyGObjec
PyJWT
pymacaroons
PyNaCl
pyRFC3339
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
six
sqlparse
ufw
unattended-upgrades
urllib3
usb-creator
virtualenv
